<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [3]:
pd.set_option('precision', 3)

Считываем данные из CSV-файла в объект pandas DataFrame.

In [4]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [5]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
df['ap_hi'] = df['ap_hi'].astype('int64')
df['ap_lo'] = df['ap_lo'].astype('int64')
df['alco'] = df['alco'].astype('int64')
df['cardio'] = df['cardio'].astype('int64')

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [7]:
first_gender = np.mean(df[df.gender == 1][['height']])
second_gender = np.mean(df[df.gender == 2][['height']])
print("1 - male, 2 - female") if int(first_gender) > int(second_gender) else print("1 - female, 2 - male")

1 - female, 2 - male

In [8]:
gen_value = df['gender'].value_counts()
print(gen_value[1], "= female")
print(gen_value[2], "= male")

45530 = female
24470 = male

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [9]:
alco_female = df[df.gender == 1]['alco'].value_counts()
alco_female[1]

1161

In [10]:
alco_male = df[df.gender == 2]['alco'].value_counts()
alco_male[1]

2603

In [11]:
if alco_male[1]>alco_female[1]:
    print("Male love alco more than female")
else:
    print("Female love alco more than male")

Male love alco more than female

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [12]:
smoke_female = df[df.gender == 1]['smoke'].value_counts(normalize=True)
smoke_female[1]

0.017856358444981332

In [13]:
smoke_male = df[df.gender == 2]['smoke'].value_counts(normalize=True)
smoke_male[1]

0.21888026154474868

In [14]:
smoke_ratio = smoke_male[1]/smoke_female[1]
smoke_ratio

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [15]:
not_smoke = np.median(df[df.smoke == 0][['age']])
not_smoke

19722.0

In [16]:
smoke = np.median(df[df.smoke == 1][['age']])
smoke

19125.0

In [17]:
difference_med = (not_smoke - smoke)/30.5
difference_med

19.57377049180328

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [18]:
df['age_years'] = round(df['age'] / 365)

In [19]:
#Курящие мужчины в возрасте от 60 до 64
male_set = df[df.age_years >= 60][df.age_years <= 64][df.gender == 2][df.smoke == 1][["ap_hi", "cardio", "cholesterol"]]

/home/andrew/anaconda3/envs/NewEnv2/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [20]:
male_set

       ap_hi  cardio  cholesterol
id
29       120       0            1
52       130       1            1
90       150       1            3
240      120       0            1
248      130       1            3
318      180       1            3
410      130       0            2
456      150       1            1
581      130       1            1
606      120       0            1
662      120       1            3
696      130       1            2
986      161       1            1
1111     140       0            2
1194     120       1            1
1275     150       0            1
1312     120       1            1
1474     140       1            2
1625      90       1            2
1704     150       1            1
1712     150       1            3
1864     150       1            1
1893     150       1            1
1951     110       0            1
2289     140       1            3
2316     120       0            1
2415     110       0            1
2636     120       1            1
2842     120       1            3
2979     130       1            1
3032     130       1            2
3082     110       1            1
3112      12       0            1
3262     110       0            1
3480     150       1            1
3564     110       0            3
3658     110       1            1
3715     110       1            2
3799     160       0            1
3930     160       1            2
4038     140       1            3
4195     140       1            1
4275     120       1            3
4479     110       0            1
4899     140       1            1
4955     110       0            1
5231     120       0            1
5285     140       1            3
5336     130       0            2
5471     120       1            1
...      ...     ...          ...
95884    120       1            3
95919    120       1            1
95981    150       1            1
96023    140       1            1
96057    140       1            3
96112    120       0            3
96216    130       1            1
96229    150       1            1
96263    130       0            1
96299    140       1            1
96441    130       0            1
96461    120       1            1
96504    140       1            2
96517    120       0            1
96664    130       0            2
96920    110       1            1
96929    120       0            1
97026    120       1            1
97066    130       0            1
97091    140       1            1
97104    140       1            1
97105    150       1            1
97200    130       1            1
97318    130       1            2
97363    120       1            1
97388    140       1            2
97425    130       1            3
97797    190       1            1
97803    150       1            3
97930    140       0            1
98165    140       1            1
98177    140       0            1
98359    130       0            1
98408    120       1            3
98481    130       0            3
98500    120       0            1
98550    120       0            3
98621    120       1            3
98772    110       0            2
98777    150       1            1
98834    120       1            1
98837    140       0            3
98896    130       0            3
99301    120       0            1
99362    130       0            1
99551    120       1            3
99553    130       1            2
99711    120       0            1
99775    150       1            1
99958    140       1            3

[994 rows x 3 columns]

In [21]:
#Курящие мужчины в возрасте от 60 до 64 с давлением меньше 120 и холестерином в норме
ap_lo_120 = male_set[male_set["ap_hi"] <= 120][male_set["cholesterol"] == 1]

/home/andrew/anaconda3/envs/NewEnv2/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [22]:
#Кол-во курящих мужчин в возрасте от 60 до 64 с давлением меньше 120, холестирином в норме и имеющие ССЗ
have_cardio_1 = len(ap_lo_120[ap_lo_120["cardio"] == 1])
have_cardio_1

96

In [23]:
#Кол-во курящих мужчин в возрасте от 60 до 64 с давлением меньше 120
all_set_120 = len(ap_lo_120)
all_set_120

295

In [24]:
#Отношение мужчин с ССЗ к общему количеству мужчин в данной группе
cardio_rate_1 = have_cardio_1/all_set_120
cardio_rate_1

0.3254237288135593

In [25]:
#Курящие мужчины в возрасте от 60 до 64 с давлением выше 160 и холестирином зашкваривающим
ap_hi_180 = male_set[male_set["ap_hi"] >= 160][male_set["ap_hi"] < 180][male_set["cholesterol"] == 3]

/home/andrew/anaconda3/envs/NewEnv2/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [26]:
#Кол-во курящих мужчин в возрасте от 60 до 64 с давлением выше 160 и имеющие ССЗ
have_cardio_2 = len(ap_hi_180[ap_hi_180["cardio"] == 1])
have_cardio_2

19

In [27]:
#Кол-во курящих мужчин в возрасте от 60 до 64 с давлением выше 160 
all_set_180 = len(ap_hi_180)
all_set_180

22

In [28]:
#Отношение мужчин с ССЗ к общему количеству мужчин в данной группе
cardio_rate_2 = have_cardio_2/all_set_180
cardio_rate_2

0.8636363636363636

In [29]:
cardio_rate_2/cardio_rate_1

2.653882575757576

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [30]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [31]:
df['BMI'] =  df['weight'] / ((df['height'] /  100)**2)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.928
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.508
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011

In [32]:
np.median(df['BMI']) #Медианный BMI по выборке лежит в пределах нормы = НЕТ

26.374068120774975

In [33]:
np.mean(df[df.gender == 1]['BMI']) #Среднее BMI у женщин

27.98758344183312

In [34]:
np.mean(df[df.gender == 2]['BMI']) #Среднее BMI у мужчин

26.754442357289474

In [35]:
np.mean(df[df.cardio == 0]['BMI']) #Среднее BMI у здоровых

26.54817520679475

In [36]:
np.mean(df[df.cardio == 1]['BMI'])  #Среднее BMI у больных

28.566060627015435

In [37]:
# В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

np.mean(df[df.cardio == 0][df.alco == 0][df.gender == 2]['BMI']) #среднее BMI среди здоровых и непьющих мужчин

/home/andrew/anaconda3/envs/NewEnv2/lib/python3.5/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

25.872638075460173

In [38]:
np.mean(df[df.cardio == 0][df.alco == 0][df.gender == 1]['BMI']) #среднее BMI среди здоровых и непьющих женщин

/home/andrew/anaconda3/envs/NewEnv2/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [39]:
a = len(df[df['ap_lo'] >= df['ap_hi']])
a

1236

In [40]:
b = len(df[(df['height'] < df['height'].quantile(0.025)) | (df['height'] > df['height'].quantile(0.975))])
b

2976

In [41]:
c = len(df[(df['weight'] < df['weight'].quantile(0.025)) | (df['weight'] > df['weight'].quantile(0.975))])
c

3103

In [42]:
((a+b+c)/len(df))*100

10.45